@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-display: var(--font-clash-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-clash-grotesk), sans-serif;
}

h1 {
  @apply text-4xl sm:text-6xl lg:text-8xl xl:text-9xl leading-none tracking-[0px];
}

h2 {
  @apply text-3xl sm:text-4xl lg:text-6xl font-medium leading-none tracking-[0px];
}

.hero-subtitle {
  @apply text-lg sm:text-xl lg:text-2xl leading-snug tracking-[0px];
}

.gradient-text-1 {
  background: linear-gradient(
    108.88deg,
    #B53EA4 -2.82%,
    #FC6F32 34.48%,
    #FF4A59 93.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-2 {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(106.2deg, #FFD6F9 -12.33%, #FFCBB4 50.28%, #FFBEC3 114.17%);
  -webkit-background-clip: text, text;
  -webkit-text-fill-color: transparent;
  background-clip: text, text;
}

.gradient-background {
  background: linear-gradient(180deg, #000000 36.4%, #191E2A 100%);
}

.btn-ghost {
  @apply px-5 sm:px-6 py-3.5 font-medium text-base sm:text-lg text-white;
}

.btn-outline {
  @apply px-6 sm:px-8 py-3.5 font-medium text-base sm:text-lg text-white relative;
  background: transparent;
  position: relative;
  border-radius: 91px;
}

.btn-outline::before {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: linear-gradient(106.2deg, #963488 -12.33%, #FC6F32 50.28%, #FF4A59 114.17%);
  z-index: -1;
}

.btn-outline::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: black;
  z-index: -1;
}

.stat-card {
  @apply p-5 sm:p-6 lg:p-8 rounded-3xl md:rounded-[91px];
  background: linear-gradient(105.65deg, rgba(150, 52, 136, 0.2) 0.15%, rgba(252, 111, 50, 0.2) 130.58%, rgba(255, 74, 89, 0.2) 263.64%);
}